<!DOCTYPE html>
<html lang="en">
<head>

    <!--------------------------- META INFORMATION ------------------------------>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!------------------------- LINKING STYLE SHEETS ---------------------------->
    <!-- Dashboard Style Sheet -->
    <link rel="stylesheet" href="~/Content/css/Dashboard.css">
    <!-- Google Fonts Style Sheet -->
    <link rel="stylesheet" href="~/Content/css/font-roboto.css">
    <!--Table Style-->
    <link rel="stylesheet" href="~/Content/css/ViewAdmins.css" />
    <!--Card Style-->
    <link href="~/Content/css/cards.css" rel="stylesheet" />
    <!--Reguster form style-->
    <link href="~/Content/css/registerstyle.css" rel="stylesheet" />
    <!--Ajax Script-->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/GeneralAjax.js"></script>
    <!--Sweet Alert Script & Validation-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/Content/Home/plugins/bootstrap/css/bootstrap.min.css">

    @*<script src="~/Scripts/SweetAlert.js"></script>*@

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <style>
        /*Toggle*/ /*Toggle*/
        .switch {
            position: relative;
            display: inline-block;
            margin-top:8px;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: green;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #E74C3C;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: green;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>

</head>

<body>
    <div class="main-container">
        <!---------------------- Building Header ----------------------->
        <header class="header">

            <!-- Header Hamburger Icon -->
            <div class="header-hamburger">
                <input type="checkbox" id="header-hamburger__checkbox" onchange="openCloseSidebar()">
                <label for="header-hamburger__checkbox" class="header-hamburger__label">
                    <div></div>
                    <div></div>
                    <div></div>
                </label>
            </div>

            <!-- Header Logo -->
            <div class="header-heading">
                <h1 class="header-heading__text"> Lost And Found </h1>
            </div>

            <!-- Header User Profile & Signout -->
            <div class="header-user">
                @*<img src="~/Content/assets/images/dashboard__user.png" alt="User Image" class="header-user__img">*@
                <h2 class="header-user__name">@Session["Admin_FullName"]</h2>
                <a href="" data-toggle="modal" data-target="#logoutModal"><img src="~/Content/assets/images/dashboard__signout.png" alt="Logo Image" class="header-user__signout" ></a>
            </div>
        </header>

        <!-- Building Middle Section (Main Dashboard) -->
        <div class="middle-window">
            <i class="fa-solid fa-bars" style="color: white !important;"></i>
            <!---------------------- Building The Fixed SideBar ---------------------->
            <i class="fa-solid fa-bars" style="color: white !important;"></i>
            <div class="middle-window__Sidebar">
                <aside class="sidebar" id="sidebar">
                    <ul>

                        <!-- Home Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("Dashboard","Admin")">
                                <img src="~/Content/assets/images/dashboard__dashboard.png" alt="icon home" class="sidebar-menu__icon">
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("CreateAdmin","Admin")">
                                <img src="~/Content/assets/images/dashboard__add-admin.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>Create Admin</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("ViewAllAdmins","Admin")">
                                <img src="~/Content/assets/images/dashboard__view-admins.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>View All Admins</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("AllPosts","Admin")">
                                <img src="~/Content/assets/images/dashboard__all-posts.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>All Posts</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("AllUsers","Admin")">
                                <img src="~/Content/assets/images/dashboard__all-users.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>All Users</span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>

            <!---------------------- Building The Center Screen (Dasboard) ---------------------->
            <div class="middle-window__dashboard">
                @RenderBody()
            </div>

        </div>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="@Url.Action("Logout","Login")">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!---------------------- Building The Footer ---------------------->
        <footer class="footer">
            <!-- Footer Text -->
            <div class="footer-text">
                Copyright &copy; Lost And Found | 2022
            </div>
        </footer>

    </div>


    <!--Linking Scripts-->
    <script src="~/Content/Home/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/Dashboard.js"></script>
    <script src="~/Content/js/ViewAdmins.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            }
        </script>
    }

</body>

</html>