<!DOCTYPE html>
<html lang="en">
<head>

    <!--------------------------- META INFORMATION ------------------------------>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!------------------------- LINKING STYLE SHEETS ---------------------------->
    <!-- Dashboard Style Sheet -->
    <link rel="stylesheet" href="~/Content/css/Dashboard.css">
    <!-- Google Fonts Style Sheet -->
    <link rel="stylesheet" href="~/Content/css/font-roboto.css">
    <!--Table Style-->
    <link rel="stylesheet" href="~/Content/css/ViewAdmins.css" />
    <!--Card Style-->
    <link href="~/Content/css/cards.css" rel="stylesheet" />
    <!--Reguster form style-->
    <link href="~/Content/css/registerstyle.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <div class="main-container">
        <!---------------------- Building Header ----------------------->
        <header class="header">

            <!-- Header Hamburger Icon -->
            <div class="header-hamburger">
                <input type="checkbox" id="header-hamburger__checkbox" onchange="openCloseSidebar()">
                <label for="header-hamburger__checkbox" class="header-hamburger__label">
                    @*<div></div>
                    <div></div>
                    <div></div>*@
                </label>
            </div>

            <!-- Header Logo -->
            <div class="header-heading">
                <h1 class="header-heading__text"> Lost And Found </h1>
            </div>

            <!-- Header User Profile & Signout -->
            <div class="header-user">
                @*<img src="~/Content/assets/images/dashboard__user.png" alt="User Image" class="header-user__img">*@
                <a href="#"><h2 class="header-user__name">Munzah Shah</h2></a>
                <a href="#" data-toggle="modal" data-target="#logoutModal"><img src="~/Content/assets/images/dashboard__signout.png" alt="Logo Image" class="header-user__signout"></a>
            </div>
        </header>

        <!-- Building Middle Section (Main Dashboard) -->
        <div class="middle-window">

            <!---------------------- Building The Fixed SideBar ---------------------->
            <div class="middle-window__Sidebar">
                <aside class="sidebar" id="sidebar">
                    <ul>

                        <!-- Home Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("Dashboard","Admin")">
                                <img src="~/Content/assets/images/dashboard__dashboard.png" alt="icon home" class="sidebar-menu__icon">
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("CreateAdmin","Admin")">
                                <img src="~/Content/assets/images/dashboard__add-admin.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>Create Admin</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("ViewAllAdmins","Admin")">
                                <img src="~/Content/assets/images/dashboard__view-admins.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>View All Admins</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("AllPosts","Admin")">
                                <img src="~/Content/assets/images/dashboard__all-posts.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>All Posts</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("AllUsers","Admin")">
                                <img src="~/Content/assets/images/dashboard__all-users.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>All Users</span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>

            <!---------------------- Building The Center Screen (Dasboard) ---------------------->
            <div class="middle-window__dashboard">
                @RenderBody()
            </div>

        </div>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="@Url.Action("Logout","Login")">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!---------------------- Building The Footer ---------------------->
        <footer class="footer">
            <!-- Footer Text -->
            <div class="footer-text">
                Copyright &copy; Lost And Found | 2022
            </div>
        </footer>

    </div>


    <!--Linking Scripts-->
    <script type="text/javascript" src="~/Content/js/Dashboard.js"></script>
    <script src="~/Content/js/ViewAdmins.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>