<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Photography,agency,business,company,agency,multipurpose,modern,bootstrap4">

    <meta name="author" content="themeturn.com">

    <!-- Mobile Specific Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap.min css -->
    <script src="~/Content/Home/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/Home/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icofont Css -->
    <link rel="stylesheet" href="~/Content/Home/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/Home/plugins/fontawesome/css/all.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="~/Content/Home/plugins/animate-css/animate.css">
    <!-- Magnify Popup -->
    <link rel="stylesheet" href="~/Content/Home/plugins/magnific-popup/dist/magnific-popup.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/Content/Home/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/Content/Home/plugins/slick-carousel/slick/slick-theme.css">
    <!--Picture Uplaod Srtle-->
    <link href="~/Content/css/ProfileStyleSheet1.css" rel="stylesheet" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Content/Home/css/style.css">
    <!--Ajax Script-->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/GeneralAjax.js"></script>
    <!--Sweet Alert Script-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/SweetAlert.js"></script>
    <!--Post Product Style -->
    <link href="~/Content/css/registerstyle.css" rel="stylesheet" />
    <!--Card & Toggle Style-->
    <link href="~/Content/css/CardandToogleStyleSheet.css" rel="stylesheet" />

    <style type="text/css">
        .noti-content {
            position: fixed;
            right: 100px;
            background: #e5e5e5;
            border-radius: 4px;
            top: 47px;
            width: 250px;
            display: none;
            border: 1px solid #9E988B;
        }

        ul#notiContent {
            max-height: 200px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            padding-left: 20px;
        }

            ul#notiContent li {
                margin: 3px;
                padding: 6px;
                background: #fff;
            }

        .noti-top-arrow {
            border-color: transparent;
            border-bottom-color: #F5DEB3;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            position: absolute;
            right: 32px;
            top: -8px;
        }

        span.noti {
            color: #FF2323;
            margin: 15px;
            position: fixed;
            right: 80px;
            font-size: 25px;
            cursor: pointer;
        }

        span.count {
            position: relative;
            top: -3px;
        }
    </style>
</head>
<body>
    <!-- NAVBAR -->
    <div class="main-navigation main_menu " id="mainmenu-area">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                    <img src="~/Content/Home/images/logo-dark.png" alt="Digicon" class="img-fluid">
                </a>
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu-alt"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Links -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a href="@Url.Action("Home", "User")" class="nav-link js-scroll-trigger">
                                Home
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="@Url.Action("ItemListing","User")" class="nav-link js-scroll-trigger">
                                Items Listing
                            </a>
                        </li>
                    </ul>
                    <ul class="list-inline header-contact float-lg-right">
                        <li class="list-inline-item">
                            <a href="@Url.Action("PostProduct","User")" class="btn btn-solid-border btn-sm"><i class="ti-phone-alt mr-2"></i>Post Item</a>
                        </li>
                    </ul>
                    <ul class="list-inline header-contact float-lg-right" style="margin-left:8px; margin-right: 8px;">
                        <li class="nav-item dropdown">
                            <a class="btn btn-main-2 btn-sm nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                                @Session["User_FullName"]
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="#" onclick="EditUserRecord(@Session["User_ID"])">My Profile</a></li>
                                <li class="dropdown-item">
                                    @Html.ActionLink("My Active Posts", "MyPosts", "User", new { postedby = Session["User_ID"] }, new { style = "color:black" })
                                </li>
                                <li class="dropdown-item">
                                    @Html.ActionLink("My Deactive Posts", "MyDeactivePosts", "User", new { postedby = Session["User_ID"] }, new { style = "color:black" })
                                </li>
                                <li>
                                    <a class="dropdown-item btn btn-main-2 btn-sm" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <span class=" noti fa fa-bell"><span class="count">&nbsp;</span></span>
                    <div class="noti-content">
                        <div class="noti-top-arrow"></div>
                        <ul id="notiContent"></ul>
                    </div>
                </div> <!-- / .navbar-collapse -->
            </nav>
        </div> <!-- / .container -->
    </div>
    <!--Render Section-->
    <section class="banner">
        <div class="container">
            <div>
                @RenderBody()
            </div>
        </div>
    </section>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="@Url.Action("Logout","Login")">Logout</a>
                </div>
            </div>
        </div>
    </div>

    @*Create a Popup Modal For Edit User's Profile'*@
    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">MY PROFILE</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body input-box">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            <input type="hidden" id="UserId" name="UserId">
                            <div class="form-group">
                                <input type="text" class="form-class-r" id="UserName" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-class-r" id="UserEmail" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-class-r" id="UserContact" placeholder="Contact" minlenght="11" maxlength="11" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-class-r" id="UserPass" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-class-r" id="UserAddress" placeholder="Address" />
                            </div>
                            <div class="form-group">
                                <select name="gender" id="UserGender" class="form-class-r">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="#" id="SaveUserRecord">Update My Profile </a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="footer-btm">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>Copyright reserved to <a href="themeturn.com">Digicon.</a></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline footer-socials text-lg-right mb-0">
                        <li class="list-inline-item">
                            <a href="#"> <i class="fab fa-facebook-f"></i>Facebook</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"> <i class="fab fa-twitter"></i>Twitter</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"> <i class="fab fa-pinterest"></i> Pinterest</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"> <i class="fab fa-linkedin"></i>Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--Essential Scripts-->
    <!-- Bootstrap4. 3.1 -->
    @*<script src="~/Content/Home/plugins/bootstrap/js/bootstrap.min.js"></script>*@
    <!-- Slick Slider -->
    <script src="~/Content/Home/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="~/Content/Home/plugins/counterup/waypoint.js"></script>
    <script src="~/Content/Home/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/Content/Home/plugins/instafeed-js/instafeed.min.js"></script>
    <!--Signal R-->
    <script src="~/scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <!--  Magnific Popup-->
    <script src="~/Content/Home/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Home/js/script.js"></script>
    <!--Category Card Script-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $('.card').hover(
            function () {
                $(this).animate({
                    marginTop: "-=1%",
                    marginBottom: "+=1%"
                }, 200)
            },
            function () {
                $(this).animate({
                    marginTop: "+=1%",
                    marginBottom: "-=1%"
                })
            }
        )
    </script>
    <!--Picture upload-->
    <script type="text/javascript">

        $('#UserImage').click(function () {
            UploadClickEvent();

        });

        $('.upload-pic').click(function () {
            UploadClickEvent();
        });

        function UploadClickEvent() {
            $('#BrowseImage').trigger('click');
        }

        //select and upload window
        $('#BrowseImage').change(function () {
            var File = this.files;

            if (File && File[0]) {
                var reader = new FileReader();
                reader.readAsDataURL(File[0]);

                reader.onload = function (x) {
                    var image = new Image;
                    image.src = x.target.result;

                    image.onload = function () {
                        var width = this.width;
                        var height = this.height;
                        var type = File[0].type;
                        if ((width >= "200" && height >= "200") && (type == "image/png" || type == "image/jpg" || type == "image/jpeg")) {
                            $('#UserImage').attr('src', x.target.result);
                            $('.image-desc ').css("color", "black");
                        }
                        else {
                            $('.image-desc ').css("color", "red");
                        }
                    }
                }
            }
        });
    </script>

    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");
            }
        </script>
    }

    <script>
        //Show The Popup Modal For Edit User Record
        function EditUserRecord(User_ID) {
            var url = "/User/GetUserById?User_ID=" + User_ID;
            $("#ModalTitle").html("Update User Profile");
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#UserId").val(obj.User_ID);
                    $("#UserName").val(obj.User_FullName);
                    $("#UserEmail").val(obj.User_Email);
                    $("#UserContact").val(obj.User_Contact);
                    $("#UserPass").val(obj.User_Password);
                    $("#UserAddress").val(obj.User_Address);
                    $("#UserGender").val(obj.User_Gender);

                }
            })
        }

        $("#SaveUserRecord").click(function () {

            var data = {
                userid: $('#UserId').val(),
                username: $('#UserName').val(),
                useremail: $('#UserEmail').val(),
                usercontact: $('#UserContact').val(),
                userpass: $('#UserPass').val(),
                useradd: $('#UserAddress').val(),
                usergender: $('#UserGender').val()
            }
            $.ajax({
                type: "Post",
                url: "/User/UpdateDataInDatabase",
                data: data,
                success: function (result) {
                    alert("Successfully Updated....");
                    window.location.href = "/User/Home";
                    $("#MyModal").modal("hide");
                }
            })
        })
        $(document).ready(function () {
            $("#sendMessage").click(function () {
                debugger;
                var data = {
                    postMessage: $('#message').val(),
                    productid: $('#postid').val()
                }
                $.ajax({
                    type: "Post",
                    url: "/User/SendMessage",
                    data: data,

                    success: function (result) {
                        alert("Successfully Sent!....");
                        window.location.href = "/User/Home";
                        $("#MyModal").modal("hide");

                    }
                });
            });
        });

        function loadDescription(description) {

            $("#ModalTitle").html("");
            $("#MyModal2").modal();
            $("#desc").html(description);
        }
    </script>

    <!--Signal R ajax-->
    @* Add jquery code for Get Notification & setup signalr *@
    <script type="text/javascript">
        $(function () {
            debugger;
            // Click on notification icon for show notification
            $('span.noti').click(function (e) {
                e.stopPropagation();
                $('.noti-content').show();
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                //only load notification if not already loaded
                if (count > 0) {
                    updateNotification();
                }
                $('span.count', this).html('&nbsp;');
            })
            // hide notifications
            $('html').click(function () {
                $('.noti-content').hide();
            })
            // update notification
            function updateNotification() {
                debugger;
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));
                $.ajax({
                    type: 'GET',
                    url: '/User/GetNotificationContacts',
                    success: function (response) {
                        $('#notiContent').empty();
                        if (response.length == 0) {
                            $('#notiContent').append($('<li>No data available</li>'));
                        }
                        $.each(response, function (index, value) {
                            $('#notiContent').append($('<li>New contact : ' + value.Contact_Name + ' (' + value.Contact_No + ') added</li>'));
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
            // update notification count
            function updateNotificationCount() {
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                count++;
                $('span.count').html(count);
            }
            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });
            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() == "added") {
                    updateNotificationCount();
                }
            }
        })
    </script>

</body>
</html>
