
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LogedInLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <h4> <a href="@Url.Action("Mobile","Category")"</a></h4>
                <div class="team-item mb-5 mb-lg-0">
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-mobile.png" alt="" class="img-fluid">
                    </div>
                    <div class="team-info">
                        <h4><a href="@Url.Action("Mobile","Category")">Mobile</a></h4>
                    </div>
                </div>
            </span>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <h4><a href="@Url.Action("People","Category")"</a></h4>
                <div class="team-item mb-5 mb-lg-0">
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-people.png" alt="" class="img-fluid">
                    </div>
                    <div class="team-info">
                        <h4><a href="@Url.Action("People","Category")">People</a></h4>
                    </div>
                </div>
            </span>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <h4><a href="@Url.Action("Pets","Category")"</a></h4>
                <div class="team-item mb-5 mb-lg-0">
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-pet.png" alt="" class="img-fluid">
                    </div>

                    <div class="team-info">
                        <h4><a href="@Url.Action("Pets","Category")">Pets</a></h4>
                    </div>
                </div>
            </span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <h4><a href="@Url.Action("Cars","Category")"</a></h4>
                <div class="team-item mb-5 mb-lg-0">
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-car.png" alt="" class="img-fluid">
                    </div>
                    <div class="team-info">
                        <h4><a href="@Url.Action("Cars","Category")">Cars</a></h4>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <h4><a href="@Url.Action("Clothes_Shoes","Category")"</a></h4>
                <div class="team-item mb-5 mb-lg-0">
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-clothes-shoes.png" alt="" class="img-fluid">
                    </div>
                    <div class="team-info">
                        <h4><a href="@Url.Action("Clothes_Shoes","Category")">Clothes & Shoes</a></h4>
                    </div>
                </div>
            </span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <div class="team-item mb-5 mb-lg-0">
                    <h4><a href="@Url.Action("Bags","Category")"</a></h4>
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-bag.png" alt="" class="img-fluid">
                    </div>
                    <div class="team-info">
                        <h4><a href="@Url.Action("Bags","Category")">Bags</a></h4>
                    </div>
                </div>
            </span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <h4><a href="@Url.Action("Documents","Category")"</a></h4>
                <div class="team-item mb-5 mb-lg-0">
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-document.png" alt="" class="img-fluid">
                    </div>
                    <div class="team-info">
                        <h4><a href="@Url.Action("Documents","Category")">Documents</a></h4>
                    </div>
                </div>
            </span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <h4><a href="@Url.Action("Laptop","Category")"</a></h4>
                <div class="team-item mb-5 mb-lg-0">
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-laptop.png" alt="" class="img-fluid">
                    </div>
                    <div class="team-info">
                        <h4><a href="@Url.Action("Laptop","Category")">Laptop</a></h4>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <h4><a href="@Url.Action("Jewellery","Category")"</a></h4>
                <div class="team-item mb-5 mb-lg-0">
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-jewellery.png" alt="" class="img-fluid">
                    </div>
                    <div class="team-info">
                        <h4><a href="@Url.Action("Jewellery","Category")">Jewellery</a></h4>
                    </div>
                </div>
            </span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span>
                <h4><a href="@Url.Action("Keys","Category")"</a></h4>
                <div class="team-item mb-5 mb-lg-0">
                    <div class="team-img">
                        <img src="~/Content/assets/images/icon/icon-key.png" alt="" class="img-fluid">
                    </div>
                    <div class="team-info">
                        <h4><a href="@Url.Action("Keys","Category")">Keys</a></h4>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>