@model Lost_And_Found.Models.PostProductModel
@{
    ViewBag.Title = "Post Item";
    Layout = "~/Views/Shared/_LogedInLayout.cshtml";
}

<div class="container5">
    <form id="" method="post" enctype="multipart/form-data">
        <div class="leftcont">
            <div class="">
                <div class="">
                    <h4 style="padding-left:160px;" padding-top:5px;><b>Image Upload</b></h4>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="user-profile-image">
                                <input type="file" class="hidden" id="BrowseImage" accept="image/*" name="ItemImage" />
                                <img src="~/Content/Home/images/per.png" class="img-responsive" id="UserImage" />
                                <p class="image-desc text-center">Allowed Image size: 512*512px </p>
                                <div class="upload-pic">
                                    <img src="~/Content/Home/images/570233.png" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightcont">
            <div class="">
                <h4 style="padding-left:130px; padding-top:5px;"><b>Fill this Form Kindly</b></h4>
            </div>
            <div class="input-box">
                <span class="details">Product Name </span>
                @Html.TextBoxFor(x => x.Product_Name, null, new { @Class = "form-class-r" })
                @Html.ValidationMessageFor(x => x.Product_Name, null, new { style = "color:red" })
            </div>
            <div class="input-box">
                <span class="details">Product Category </span>
                @Html.DropDownListFor(x => x.Product_Category, new List<SelectListItem>
                { new SelectListItem() { Text = "Please Select" ,Value=""},
                  new SelectListItem() { Text = "Bags" },
                  new SelectListItem() { Text = "Cars" },
                   new SelectListItem() { Text = "Clothes_Shoes" },
                    new SelectListItem() { Text = "Documents" },
                    new SelectListItem() { Text = "Jewellery" },
                    new SelectListItem() { Text = "Laptop" },
                    new SelectListItem() { Text = "Mobile" },
                    new SelectListItem() { Text = "People" },
                    new SelectListItem() { Text = "Pets" },
                    new SelectListItem() { Text = "Keys" },
                }, new { @Class = "form-class-r" })
                @Html.ValidationMessageFor(x => x.Product_Category, null, new { style = "color:red" })
            </div>
            <div class="input-box">
                <span class="details">Product Description </span>
                @Html.TextBoxFor(x => x.Product_Description, null, new { @Class = "form-class-r" })
                @Html.ValidationMessageFor(x => x.Product_Description, null, new { style = "color:red" })
            </div>
            <div class="input-box">
                <span class="details">Product Location </span>
                @Html.TextBoxFor(x => x.Product_Location, null, new { @Class = "form-class-r" })
                @Html.ValidationMessageFor(x => x.Product_Location, null, new { style = "color:red" })
            </div>
            <div class="input-box">
                <span class="details">Product Status </span>
                @Html.DropDownListFor(x => x.Product_Status, new List<SelectListItem>
                {  new SelectListItem(){Text = "Please Select" ,Value=""},
               new SelectListItem() { Text = "Have you found the product?" },
                  new SelectListItem() { Text = "Have you lost the product?" },
                }, new { @Class = "form-class-r" })
                @Html.ValidationMessageFor(x => x.Product_Status, null, new { style = "color:red" })
            </div>
            <div class="button" sstyle="padding-top:5px;">
                <input type="submit" id="btnDraft" value="Post Your Item">
            </div>
        </div>
    </form>
</div>

