@model List<Lost_And_Found.Models.ProductDataModel>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LogedInLayout.cshtml";
}


<style>
    .srchlabel{
        padding-left:5px;
        color:black;
    }
    .searchdrop {
        display: inline-flex;
        outline: 0;
        float: left;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-border-radius: 4px;
        border-radius: 4px;
        position: relative;
    }

        .searchdrop > input[type=text] {
            outline: 0;
            height: 100% !important;
            width: 244px;
            line-height: 42px;
            padding: 0 16px;
            background-color: rgba(255, 255, 255, 0.8);
            color: #212121;
            border: 0;
            float: left;
            -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

            .searchdrop > input[type=text]:focus {
                outline: 0;
                background-color: #FFF;
            }

        .searchdrop > input[type=button] {
            outline: 0;
            background: none;
            background-color: var(--buttoncolor);
            float: left;
            height: 42px;
            width: 42px;
            text-align: center;
            line-height: 42px;
            border: 0;
            color: #FFF;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 16px;
            text-rendering: auto;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-transition: background-color .4s ease;
            transition: background-color .4s ease;
            -webkit-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
        }

            .searchdrop > input[type=button]:hover {
                background-color: var(--buttonhovercolor);
                cursor: pointer;
            }
    .dd {
        display: inline-flex;
        outline: 0;
        float: left;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-border-radius: 4px;
        border-radius: 4px;
        position: relative;
    }
        .dd > select {
            outline: 0;
            height: 100% !important;
            width: 244px;
            line-height: 42px;
            padding: 0 16px;
            background-color: rgba(255, 255, 255, 0.8);
            color: #212121;
            border: 0;
            float: left;
            -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }
</style>
<div style="width: 800px; margin:auto; padding-top:23px;">
    <form method="post">
        <div class="row">
            <div class="searchdrop">
                <input type="text" placeholder="Search" class="srch" name="description" id="des" />
            </div>
            <div class="dd">
                <label for="category" class="srchlabel"></label>
                <select name="category" id="cat" class="srch">
                    <option value="">Please Select</option>
                    <option value="Bags">Bags</option>
                    <option value="Cars">Cars</option>
                    <option value="Clothes_Shoes">Clothes_Shoes</option>
                    <option value="Documents">Documents</option>
                    <option value="Jewellery">Jewellery</option>
                    <option value="Laptop">Laptop</option>
                    <option value="Mobile">Mobile</option>
                    <option value="People">People</option>
                    <option value="Pets">Pets</option>
                    <option value="Keys">Keys</option>
                </select>
            </div>
            <div style="padding-left:7px; margin-top:2px; ">
                <button class="btn btn-primary custyle" id="search"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</div>
@if (Model != null)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" id="card" style="width:20em;margin:10px;">
                <img src="@Url.Content(item.Product_Image)" class="card-img-top" />
                <div class="card-body">
                    <div class="card-title" id="card-title">
                        <h5 style="font-size:14px;"><b style="font-size:18px;">Name: </b>@item.Product_Name</h5>
                        <h5 style="font-size:14px;"><b style="font-size:18px;">Categoty: </b> @item.Product_Category</h5>
                        <h5 style="font-size:14px;"><b style="font-size:18px;">Location: </b> @item.Product_Location</h5>
                        <h5 style="font-size:14px;"><b style="font-size:18px;">Posted By: </b> @item.Name</h5>
                        <h5 style="font-size:14px;"><b style="font-size:18px;">Contact No: </b> @item.Contact</h5>
                        @if (item.Product_Lost_Status == null)
                        {
                            <h5 style="font-size:14px; color:red;"><b style="font-size:20px;">Status: </b> @item.Product_Found_Status</h5>
                        }
                        else
                        {
                            <h5 style="font-size:14px; color:red;"><b style="font-size:20px;">Status: </b> @item.Product_Lost_Status</h5>
                        }
                    </div>
                    <div style="display:flex;">
                        <div>
                            <a href="#" class="btn btn-primary custyle" onclick="loadDescription('@item.Product_Description')">
                                Read More
                            </a>
                        </div>
                        <div style="width:70%;">
                            <a href="#" class="btn btn-icon" data-toggle="modal" data-target="#meassageModal" onclick="getid(@item.Product_Id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{ <br /><br />
    <h2 style="text-align:center;padding-top:60px; padding-bottom:230px;">Kindly Search First</h2>
}
<!--Description Modal-->
<div class="modal fade" id="MyModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body input-box">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <p id="desc"></p>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Message Modal-->
<div class="modal fade" id="meassageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Meassage Area</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body input-box">
                <form id="form">
                    <fieldset id="SubmitForm">
                        @*<p id="ProductId"></p>*@
                        <input type="hidden" class="form-class-r" id="ProductId" placeholder="ProductId" />
                        <div class="form-group">
                            <textarea rows="4" cols="55" name="comment" id="message"> Enter Meassage text here...</textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="#" id="sendMessage">Send Message</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>