@model List<Lost_And_Found.Models.UserRegisterModel>
@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="admins-table-container">

    <div class="admins-head-box">
        <h2>All Users</h2>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for User">
    </div>

    <table class="view-admins-table" id="view-admins-table">
        <thead>
            <tr class="view-admins-table-row">
                <th class="view-admins-table-head" scope="col">User ID</th>
                <th class="view-admins-table-head" scope="col">Name</th>
                <th class="view-admins-table-head" scope="col">Gender</th>
                <th class="view-admins-table-head" scope="col">Contact</th>
                <th class="view-admins-table-head" scope="col">IsActive</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="view-admins-table-row">
                    <td class="view-admins-table-data" data-label="Admin ID">@item.User_ID</td>
                    <td class="view-admins-table-data" data-label="Admin Name">@item.User_FullName</td>
                    <td class="view-admins-table-data" data-label="Admin Gender">@item.User_Gender</td>
                    <td class="view-admins-table-data" data-label="Admin Contact">@item.User_Contact</td>
                    <td class="view-admins-table-data" data-label="Admin IsActive">
                       <div>
                            <a href='#' class='checkbox'><span class='checkbox'></span></a>
                            @{
                                var stat = string.Empty;
                                if (@item.User_IsActive == true)
                                {
                                    stat = "checked";
                                }
                                else
                                {
                                    stat = "";
                                }
                                <label class="switch">
                                    <input type="checkbox" id="switchId-@item.User_ID" onchange="UpdateUserStatus(this,@item.User_ID)" @stat>
                                    <span class="slider round"></span>
                                </label>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function UpdateUserStatus(data, userid) {
        debugger;
        var id = data.id;
        var status = document.getElementById(id).checked

        $.post("/Admin/UpdateUserStatus",
            {
                Status: status,
                Userid: userid
            },
            function (data) {
                if (data == true) {

                }
                else {
                    document.getElementById(id).checked = status;
                    alert("Error Updating")
                }
                console.log(status)
            });
    }
</script>