@model Lost_And_Found.Models.DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container card-container">

    <!-- -------------- Welcome Heading Row -------------- -->
    <div class="row">
        <div class="col-sm welcome-heading-col">
            <h1 class="welcome-heading">Welcome to Lost and Found Admin Panel</h1>
        </div>
    </div>

    <!-- -------------- Cards Row # 01 -------------- -->
    <div class="row">
        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">@Model.total_admins</span>
                <br>
                @*<p class="card-content__text">Total Admins</p>*@
            </div>
            <div class="row card-link">
                <p class="card-link__text">Total Admins</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">@Model.total_users</span>
                <br>
                @*<p class="card-content__text">Total Users</p>*@
            </div>
            <div class="row card-link">
                <p class="card-link__text">Total Users</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">@Model.total_post</span>
                <br>
                @*<p class="card-content__text">Total posts</p>*@
            </div>
            <div class="row card-link">
                <p class="card-link__text">Total Posts</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">@Model.total_found_post</span>
                <br>
                @*<p class="card-content__text">Total Found Posts</p>*@
            </div>
            <div class="row card-link">
                <p class="card-link__text">Total Found Posts</p>
            </div>
        </div>
    </div>

    <!-- -------------- Cards Row # 02 -------------- -->
    <div class="row mt-5">
        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">@Model.total_lost_post</span>
                <br>
                @*<p class="card-content__text">Total Lost Posts</p>*@
            </div>
            <div class="row card-link">
                <p class="card-link__text">Total Lost Posts</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">@Model.total_recovered_post</span>
                <br>
                @*<p class="card-content__text">Total Recovered Posts</p>*@
            </div>
            <div class="row card-link">
                <p class="card-link__text">Total Recovered Posts</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">@Model.active_admins</span>
                <br>
                @*<p class="card-content__text">Active Admins</p>*@
            </div>
            <div class="row card-link">
                <p class="card-link__text">Active Admins</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">@Model.deactivated_admins</span>
                <br>
                @*<p class="card-content__text">Deactivated Admins</p>*@
            </div>
            <div class="row card-link">
                <p class="card-link__text">Deactivated Admins</p>
            </div>
        </div>
    </div>
</div>